$codeKeyLight: rgb(54, 54, 156);
$codeValueLight: rgb(63, 130, 63);
$codeKeyDark: #77B1C2;
$codeValueDark: #FEB76E;

$accent: hsl(195deg 88% 33%);

$gray: #606060;
$grayLight: #c8c8c8;

$sectionMaxWidth: 700px;