#app {
  min-height: 100vh;
  background-color: var(--clr-bg);
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 12px 3rem;
  /* background-color: #297373; */
  background-image: linear-gradient(to right top, #297373, #276d6d, #246666, #226060, #205a5a);
  /* background-image: linear-gradient(to right top, #1b4b4b, #1c4f4f, #1e5252, #1f5656, #205a5a); */
}

.left {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  flex: 1;
  display: flex;
  position: relative;
}

.search input {
  flex: 1;
  background: none;
  background-color: rgba(255, 255, 255, 0.15);
  border: 0px;
  border-radius: 8px;
  color: white;
  font-size: 1.1rem;
  padding: .75rem 1rem;
  padding-left: 4rem;
}

.search input::placeholder {
  color: white;
}
.search input:focus {
  background-color: rgba(255, 255, 255, 0.25);
  outline: none;
}

.search button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  color: white;
  background: none;
  border: none;
  border-radius: 8px;
}

.search button:hover {
  outline: none;
  background-color: rgba(255, 255, 255, 0.25);
}

.navmenu {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.nav, .nav:hover {
  /* background-color: red; */
  padding: .75rem 1rem;
  cursor: pointer;
  color: white;
}

.nav:hover {
  text-decoration: underline;
}

.nav.selected {
  background-color: #1B4B4B;
  color: white;
}

.main {
  padding: 2rem;
}

.clusters {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}