#app {
  min-height: 100vh;
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  min-width: 320px;
  width: 90vw;
  padding: 2rem;
  /* padding-top: 0; */
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 2rem;

  .listing {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  @media screen and (max-width: 1030px) {
    & {
      flex-direction: column;
      .filters {
        flex-direction: row;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    width: 1200px;
  }
}

main {
  .topbar-container {
    .topbar {
      max-width: 1200px;
      min-width: 320px;
    }
  }
}