@import "vars";

@mixin lightTheme() {
  --clr-codeKey: #{$codeKeyLight};
  --clr-codeValue: #{$codeValueLight};
}
@mixin darkTheme() {
  --clr-codeKey: #{$codeKeyDark};
  --clr-codeValue: #{$codeValueDark};
}

#app {
  min-height: 100vh;
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  &.light {
    @include lightTheme();
  }
  &.dark {
    @include darkTheme();
  }
  background-color: var(--clr-bgSecondary);
  .topbar-container {
    .strip {
      position: fixed;
      top: 0;
      z-index: var(--z-always-visible);
    }
    .topbar {
      padding-right: 0;
      max-width: unset;
      justify-content: center;
      gap: 1rem;
      .topbar-header {
        position: absolute;
        left: 0;
      }
      .logo-icon {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 12px;
      }
      button.logo-icon {
        position: fixed;
        right: 0;
        top: 0;
        z-index: var(--z-always-visible);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 0px;
      }
      @media screen and (max-width: 1536px) {
        .topbar-header {
          position: unset;
        }
        .logo-icon {
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
        }
      }
      @media screen and (max-width: 1370px) {
        .logo-icon {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 12px;
        }
      }
    }
  }
}

.main {
  position: relative;
  /* padding-top: 0; */
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  .filters {
    position: fixed;
    top: 0;
    justify-self: end;
    height: 100vh;
    z-index: var(--z-overlay);

    &-hidden {
      transform: translateX(100%);
    }
    &-visible {
      transform: translateX(0);
    }
  }
  .listing {
    max-width: 1200px;
    min-width: 320px;
    width: 90vw;
  }

  @media screen and (max-width: 1030px) {
    .listing {
      grid-template-columns: 1fr;
    }
    .filters {
      // flex-direction: row;
    }
  }

  @media screen and (max-height: 800px) {
    .filters {
      max-height: 100vh;
      &-hidden {
        transform: translateX(100%);
      }
      &-visible {
        transform: translateX(0);
      }
    }
    @media screen and (min-width: 620px) {
      .filters {
        flex-direction: row;
        height: unset;
        &-hidden {
          transform: translateY(-100%);
        }
        &-visible {
          transform: translateY(0);
        }
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    .listing {
      width: 1200px;
    }
  }
}

main {
  .topbar-container {
    .topbar {
      width: 100vw;
      // max-width: 1200px;
      min-width: 320px;
    }
  }
}