.mono {
  font-family: 'Courier New', Courier, monospace;
}

.pre {
  font-weight: 600;
  line-height: 2;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.cluster {
  display: grid;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2em;
  border-radius: 8px;
  background-color: var(--clr-card-bg);
  column-gap: 2em;
  row-gap: 1em;
  grid-template-areas:
    "title title"
    "properties files"
    "properties files"
  ;
  grid-template-columns: minmax(120px, max-content) 1fr;
  position: relative;

  h3 {
    color: var(--clr-card-title-fg);
  }

  .title {
    grid-area: title;
    display: grid;
    flex-direction: row;
    column-gap: 1rem;
    grid-template-columns: 5ch 1fr;
    grid-template-areas:
      "icon title"
      "also also"
    ;
    place-content: start;
    place-items: start;
    /* color: rgb(63, 130, 63); */
    h2 {
      grid-area: title;
      display: flex;
      line-height: 2;
      align-self: center;
    }

    .type-icon {
      grid-area: icon;
      font-size: 2em;
      font-weight: 800;
    }
  }

  .properties {
    grid-area: properties;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .pre {
      /* background-color: #f0fafa; */
      /* background-image: linear-gradient(to left bottom, #f0fafa, #ecf9f9, #e9f7f7, #e5f6f6, #e1f4f4); */
      background-color: var(--clr-code-bg);
      color: var(--clr-code-fg);
      padding: 0.5em 1em;
      border-radius: 4px;
    }

    .property.key {
      color: var(--clr-code-key)
    }
    
    .property.value {
      color: var(--clr-code-value);
    }
  }
}
