.mono {
  font-family: 'Courier New', Courier, monospace;
}

.pre {
  font-weight: 600;
  line-height: 2;
  // box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.cluster {
  display: grid;
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2em;
  border-radius: 8px;
  border: 1px solid var(--clr-border);
  background-color: var(--clr-bgMain);
  color: var(--clr-fgText);
  column-gap: 2em;
  row-gap: 1em;
  // overflow-x: scroll;
  grid-template-areas:
    "title title"
    "names names"
    "properties files"
    "properties files"
  ;
  grid-template-columns: minmax(max-content, 28ch) 1fr;
  position: relative;

  .names-container {
    align-items: center;
  }

  @media screen and (max-width: 1024px) {
    grid-template-areas:
      "title title"
      "properties names"
      "files files"
    ;
    grid-template-columns: max-content 1fr;
    .properties {
      max-width: 28ch;
    }
    .names-container {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @media screen and (max-width: 660px) {
    grid-template-areas:
      "title"
      "names"
      "properties"
      "files"
    ;
    grid-template-columns: 1fr;
    .names-container {
      flex-direction: row;
    }
  }

  @media screen and (max-width: 520px) {
    .names-container {
      flex-direction: column;
    }
  }

  h3 {
    color: var(--clr-fgText);
    font-weight: 400;
    font-size: 1rem;
  }

  .names-container {
    grid-area: names;
  }
}
