.files {
  grid-area: files;
  max-height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  pre {
    display: flex;
    flex-direction: column;
  }

  .file {
    cursor: pointer;

    &:hover {
      background-color: rgb(0, 0, 0, 0.1);
    }
  }
}