.return-type {
  grid-area: return-type;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  span {
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--clr-code-value);
  }
}

.cluster-functional {
  grid-template-areas:
    "title title"
    "return-type files"
    "properties files"
    "properties files"
  ;
  grid-template-columns: 1fr 2fr;
}