.return-type {
  grid-area: return-type;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  span {
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--clr-code-value);
  }
}
