.row {
  grid-area: also;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .names {
    grid-area: names;
    max-height: 200px;
    overflow-y: scroll;
  }

  .name-freq {
    background-color: var(--clr-card-badge-bg);
    color: var(--clr-card-badge-fg);
    font-weight: 800;
    padding: 4px 12px;
    margin: 4px 8px;
    border-radius: 6px;
    display: inline-block;
  }
}