@import "./utils.styl"
@import "./vars.styl"

lightThemeMain()
  --clr-bg-topbar: var(--clr-bg);
  --clr-bg-main: var(--clr-bg);     
  --clr-bg-code: var(--clr-neutral-25);
  --clr-fg-text: var(--clr-fg);
  --clr-fg-title: var(--clr-neutral-600);
  --clr-fg-code: var(--clr-fg);
  --clr-border: var(--clr-neutral-100);

darkThemeMain()
  --clr-bg-topbar: var(--clr-neutral-50);
  --clr-bg-main: var(--clr-neutral-25);   
  --clr-bg-code: var(--clr-neutral-50);
  --clr-fg-text: var(--clr-fg);
  --clr-fg-title: var(--clr-neutral-600);
  --clr-fg-code: var(--clr-fg);
  --clr-border: var(--clr-neutral-200);

lightThemeWindow()
  --clr-bg-window-header: $yellowLight;
  --clr-fg-code-comment: var(--clr-neutral-300);

darkThemeWindow()
  --clr-bg-window-header: var(--clr-neutral-50);
  --clr-fg-code-comment: var(--clr-neutral-500);

lightThemeDuplicate()
  --clr-bg-title: var(--clr-second-50);
  --clr-bg-explorer: var(--clr-bg);
  --clr-bg-explorer-selected: var(--clr-second-100);
  --clr-bg-snippet: var(--clr-bg);
  --clr-bg-snippet-highlighted: var(--clr-accent-50);

darkThemeDuplicate()
  --clr-bg-title: var(--clr-neutral-50);
  --clr-bg-explorer: var(--clr-neutral-50);
  --clr-bg-explorer-selected: var(--clr-neutral-200);
  --clr-bg-snippet: var(--clr-neutral-100);
  --clr-bg-snippet-highlighted: var(--clr-neutral-200);

*
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::selection {
    background-color: var(--clr-accent-500);
    color: white;
  }
  ::-moz-selection {
    background-color: var(--clr-accent-500);
    color: white;
  }
  ::-o-selection {
    background-color: var(--clr-accent-500);
    color: white;
  }
  ::-ms-selection {
    background-color: var(--clr-accent-500);
    color: white;
  }
  ::-webkit-selection {
    background-color: var(--clr-accent-500);
    color: white;
  }

:root
  font-size: 16px;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--clr-accent-500) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--clr-neutral-100);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent-500);
  border-radius: 6px;
  &:hover {
    background-color: var(--clr-accent-700);
  }
}

body
  min-height: 100vh;
  font-family: var(--font-body);

main
  &.light
    lightThemeMain();
    lightThemeWindow();
    lightThemeDuplicate();
  &.dark
    darkThemeMain();
    darkThemeWindow();
    darkThemeDuplicate();
  flexColumn();
  align-items: center;
  background-color: var(--clr-bg-main);
  color: var(--clr-fg-text);
  gap: var(--space-4);
  .topbar-container
    position: fixed;
    top: 0;
    z-index: var(--z-sticky);
    background-color: var(--clr-bg-topbar);
    border-bottom: 1px solid var(--clr-border);
    .strip
      position: fixed;
      z-index: var(--z-overlay);
  .window
    background-color: var(--clr-bg-code);
  header
    width: 100%;
    flexColumn();
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-base);
