@import "./utils.styl"
@import "./vars.styl"

lightTheme()
  --clr-bgMain: $bgMainLight;
  --clr-fgTitle: $titleLight;
  --clr-fgMedium: $mediumLight;
  --clr-fgText: $textLight;
  --clr-border: $borderLight;
  --clr-bgCode: $bgCodeMainLight;
  --clr-fgCode: black;

darkTheme()
  --clr-bgMain: $bgMainDark;
  --clr-fgTitle: $titleDark;
  --clr-fgMedium: $mediumDark;
  --clr-fgText: $textDark;
  --clr-border: $borderDark;
  --clr-bgCode: $bgCodeMainDark;
  --clr-fgCode: white;

*
  margin: 0;
  padding: 0;
  box-sizing: border-box;

:root
  font-size: 16px;

body
  min-height: 100vh;
  font-family: $fontRegular;

main
  &.light
    lightTheme();
  &.dark
    darkTheme();
  flexColumn($gapLarge)
  justify-content: flex-start;
  align-items: center;
  background-color: var(--clr-bgMain);
  color: var(--clr-fgText);
  .window
    background-color: var(--clr-bgCode);
  header
    width: 100vw;
    flexColumn($gapLarge);
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bgWindowHeader);
    padding: $gapXXLarge;
    color: var(--clr-fgWindowHeader);
    boxShadowStrong()
  section
    flexColumn($gapLarge)
    max-width: $sectionMaxWidth;
    min-width: $sectionMinWidth;
    padding: $gapMedium;
    width: 80vw;
    font-size: 16px;
    background-color: var(--clr-bgSecondary);
    @media screen and (max-width: $breakSnippetsColumn)
      width: 100vw;
      padding: 0 1rem;
      max-width: unset;
    &.bleed
      max-width: 100vw;
      width: 100vw;
      margin: 0;
      padding: 0;
    h2 
      font-family: $fontRegular;
      font-size: 2rem;

  ul.links
    flexColumn()
    flex: 1;
  li
    display: flex;
    transition: background-color transRegular;
    a
      flex: 1;
      text-decoration: underline;
      color: var(--clr-fgText);
      padding: $gapMedium;
    &:hover a
      color: var(--clr-bgWindowHeader);
