:root
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-bg: red;
  --clr-fg: yellow;

@media (prefers-color-scheme: light)
  :root
    --clr-bg: green;
    --clr-fg: blue;
