:root
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-bg: #fcfaf2;
  --clr-fg: #242424;

@media (prefers-color-scheme: light)
  :root
    --clr-bg: #242424;
    --clr-fg: #fcfaf2;
