
span
  font-size: 1.5rem;

.token
  color: black;

.keyword
  color: red;
.class-name
  color: orange;
.operator
  color: green;
.punctuation
  color: gray;
.builtin
  color: purple;
.string
  color: brown;
.number
  color: cyan;
.comment
  color: lightgray;
.function
  color: pink;
.property
  color: black;