// fontRegular = 'Source Sans Pro', sans-serif
// fontRegular = 'Golos Text', sans-serif
$fontRegular = 'Noto Sans', sans-serif
// fontRegular = 'Work Sans', sans-serif
// fontTitle = 'Inconsolata', sans-serif
$fontTitle = 'Exo 2', sans-serif
// fontRegular = 'Mullish', sans-serif
$fontMono = 'Ubuntu Mono', monospace

gapXXLarge = 64px;
gapLarge = 32px;
gapMedium = 16px;
gapSmall = 8px;

borderRadiusSmall = 4px;
borderRadiusMedium = 8px;
borderRadiusLarge = 16px;

sectionMinWidth = 320px;
sectionMaxWidth = 700px;

$darkMode = true;

$appIconRed = #ed614e;
$appIconYellow = #e0b443;
$appIconGreen = #54cc78;

$black = #313131;
$blue = #50a3d7;
$blueDark = #4b83bf;
$gray = #606060;
$grayLight = #c8c8c8;
$green = #53a372;
$orange = #eba652;
$purple = #b481f0;
$red = #f26f7a;
$white = #c8c8c8;
$whitePure = #ffffff;
$yellow = #fcd86d;

// $yellowLight = hsl(37deg 65% 91%)
$yellowLight = #faf2e4;
$accent = hsl(195deg 88% 33%);

$codeBgLight = #fffefd;
$bgColorLandingLight = #f2f5f6;
$bgColorSecondaryLight = #f2f5f6;
$bgColorMainLight = white;
$codeBgLandingLight = $bgColorMainLight;
$codeBgMainLight = $bgColorSecondaryLight;
$titleLight = #050505;
$textLight = #313131;
$bgBorderLight = #e0e4e5;

$bgColorLandingDark = hsl(195deg 18% 10%);
$bgColorSecondaryDark = hsl(195deg 18% 10%);
$bgColorMainDark = hsl(195deg 14% 15%);
$codeBgLandingDark = $bgColorMainDark;
$codeBgMainDark = $bgColorSecondaryDark;
$titleDark = #f8f4e8;
$textDark = #f5f1e5;
$bgBorderDark = #41403c;

clrHeaderBg ?= #4b8493
clrHeaderFg ?= #f9f5f1
clrBg ?= $whitePure;
clrFg ?= #242424
clrCardBg ?= #39393A
clrCardFg ?= #E6E6E6
clrAccent ?= #ff0000

$borderRadius = 12px;

$breakHeaderLogo = 600px;
$breakHeaderMenu = 485px;
$breakDescCTA = 1000px;
$breakSnippetsWrap = 768px;
$breakSnippetsColumn = 570px;

$fontRegular = 'Noto Sans', sans-serif
$fontTitle = 'Exo 2', sans-serif
$fontMono = 'Ubuntu Mono', monospace