clrHeaderBg ?= #4b8493
clrHeaderFg ?= #f9f5f1
clrBg ?= #fcfaf2
clrFg ?= #242424
clrCardBg ?= #39393A
clrCardFg ?= #E6E6E6
clrAccent ?= #ff0000

fontRegular = 'Source Sans Pro', sans-serif
fontMono = 'Ubuntu Mono', monospace

gapLarge = 32px;
gapMedium = 16px;
gapSmall = 8px;

borderRadiusSmall = 4px;
borderRadiusMedium = 8px;
borderRadiusLarge = 16px;

sectionMinWidth = 320px
sectionMaxWidth = 600px