// fontRegular = 'Source Sans Pro', sans-serif
// fontRegular = 'Golos Text', sans-serif
fontRegular = 'Noto Sans', sans-serif
// fontRegular = 'Work Sans', sans-serif
// fontTitle = 'Inconsolata', sans-serif
fontTitle = 'Exo 2', sans-serif
// fontRegular = 'Mullish', sans-serif
fontMono = 'Ubuntu Mono', monospace

gapXXLarge = 64px;
gapLarge = 32px;
gapMedium = 16px;
gapSmall = 8px;

borderRadiusSmall = 4px;
borderRadiusMedium = 8px;
borderRadiusLarge = 16px;

sectionMinWidth = 320px;
sectionMaxWidth = 700px;

$darkMode = true;

$appIconRed = #ed614e;
$appIconYellow = #e0b443;
$appIconGreen = #54cc78;

$red = #f26f7a;
$purple = #b481f0;
$yellow = #fcd86d;
$orange = #eba652;
$green = #53a372;
$white = #c8c8c8;
$gray = #606060;
$grayLight = #a0a0a0;
$blue = #6cbdf0;
$blueDark = #4b83bf;
$whitePure = #ffffff;

// $yellowLight = hsl(37deg 65% 91%)
$yellowLight = #ecdec7;
$accent = hsl(195deg 88% 33%);

clrHeaderBg ?= #4b8493
clrHeaderFg ?= #f9f5f1
clrBg ?= $whitePure;
clrFg ?= #242424
clrCardBg ?= #39393A
clrCardFg ?= #E6E6E6
clrAccent ?= #ff0000

$borderRadius = 12px;

$breakHeaderLogo = 600px;
$breakHeaderMenu = 485px;
$breakDescCTA = 1000px;
$breakSnippetsWrap = 768px;
$breakSnippetsColumn = 570px;