footer {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  padding: var(--space-8) 0;
  .section {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    column-gap: var(--space-1);
    color: var(--clr-neutral-600);
    line-height: 1.75;
  }
}