.listing {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2rem 1rem;
  color: var(--clr-neutral-600);

  .tooltip {
    margin-left: .5rem;
  }

  &-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .75ch;
  }
}

.strong {
  font-weight: var(--font-weight-semibold);
  color: var(--clr-neutral-700);
}