.search {
  flex: 1;
  display: flex;
  padding: 0rem 1rem 1rem 2rem;

  input {
    flex: 1;
    background: none;
    // background-color: hsla(185, 30%, 90%);
    border: 0px;
    // border-radius: 8px;
    color: black;
    font-family: monospace;
    font-size: 1.2rem;
    padding: 1rem 1rem;
    border-bottom: 1px solid hsla(185, 30%, 90%);
    transition: background-color 150ms ease-in;
    
    &::placeholder {
      color: black;
      opacity: 0.8;
    }
    &:focus {
      background-color: hsl(185deg 12% 98%);
      outline: none;
    }
  
  }

  button {
    // position: absolute;
    // left: 2rem;
    // top: 0;
    // bottom: 0;
    color: black;
    background-color: hsl(185deg 14% 96%);
    border: 1px solid hsl(185deg 14% 90%);
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top: none;
    padding: 0.6rem 1.2rem;
    transition: background-color 150ms ease-in;
    cursor: pointer;

    &:hover {
      outline: none;
      background-color: hsl(185deg 14% 99%);
    }
  }
}