@import "../utils.styl"
@import "../vars.styl"

.btn
  --btn-size: var(--font-size-md);
  --btn-font-weight: var(--font-weight-normal);
  display: flex;
  flex-direction: row;
  gap: var(--space-2);
  align-items: center;
  outline: none;
  border: none;
  border-radius: var(--radius-lg);
  padding: var(--space-3) var(--space-4)
  font-family: var(--font-heading);
  font-weight: var(--btn-font-weight);
  font-size: var(--btn-size);
  line-height: var(--btn-size);
  text-decoration: none;
  cursor: pointer;
  commonTransitions();
  &__xl
    --btn-size: var(--font-size-lg);
    --btn-font-weight: var(--font-weight-semibold);
  svg
    width: var(--btn-size);
    height: var(--btn-size);
  &__primary
    background-color: var(--clr-accent-500);
    border: 1px solid var(--clr-accent-500);
    color: white;
    padding-left: var(--space-4);
    gap: var(--space-4);
    &:hover
      background-color: var(--clr-accent-600);
  &__secondary
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    border: 1px solid var(--clr-neutral-400);
    &:hover
      background-color: var(--clr-accent-975);
      // color: var(--clr-neutral-950);
      // border: 1px solid var(--clr-neutral-900);
