@import "../vars.styl";
@import "../utils.styl";

.topbar-container
  flexColumn();
  align-items: center;
  width: 100%;
  .strip
    width: 100%;
    height: 4px;
    background-color: $accent;
  .topbar
    flexRow();
    width: 100%;
    max-width: 970px;
    justify-content: space-between;
    padding-right: 1em;
    @media screen and (max-width: $breakHeaderMenu)
      flex-direction: column;
      &-menu
        padding-top: .5em;
    &-header
      grid-area: header;
      color: white;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;