@import "../vars.styl";
@import "../utils.styl";

.topbar-container
  flexColumn();
  align-items: center;
  .strip
    width: 100vw;
    height: 4px;
    background-color: $accent;
  .topbar
    flexRow();
    width: 100vw;
    max-width: 970px;
    align-items: start;
    justify-content: space-between;
    padding-right: 1em;
    @media screen and (max-width: $breakHeaderMenu)
      flex-direction: column;
      &-menu
        padding-top: .5em;
    &-header
      grid-area: header;
      color: white;
      display: flex;
      justify-content: flex-end;
      justify-self: start;