
.snippet {
  .token {
    opacity: 0.66;
    font-weight: 500;
  }
  .sat--def {
    opacity: 1;
    font-weight: bolder;
    background-color: var(--clr-bg-snippet-highlighted);
    &.sat--found {
      background-color: var(--clr-acco);
    }
  }
  .line {
    &>span:nth-child(1) {
      width: 5ch;
    }
    &>span:nth-child(2) {
      // display: flex;
      flex-wrap: wrap;
      flex: 1;
      &>span:last-child {
        // flex: 1;
      }
    }
  }
}