.title {
  display: grid;
  column-gap: var(--space-2);
  grid-template-columns: var(--size-8) repeat(1, max-content) 1fr;
  place-items: center;
  justify-items: flex-end;
  padding: var(--space-1) var(--space-2);
  h2 {
    color: var(--clr-neutral-900);
    display: flex;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
  }
  .count {
    font-size: var(--font-size-sm);
    color: var(--clr-fg);
  }
  .type-icon {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    color: var(--clr-neutral-500);
  }
}