.title {
  display: grid;
  column-gap: .5rem;
  grid-template-columns: 3ch repeat(3, max-content);
  place-items: baseline;
  padding: .5rem;
  padding-left: 1rem;
  h2 {
    color: var(--clr-fgTitle);
    display: flex;
    font-size: 1.15rem;
  }
  .count {
    font-size: 1rem;
  }
  .type-icon {
    font-size: 1.35rem;
    font-weight: 800;
  }
}