@import "../../vars";
@import "../../utils";

.filters-menu {
  z-index: var(--z-always-visible);
}

.button {
  display: grid;
  place-content: center;
  cursor: pointer;
  color: blue;
  border: none;
  background-color: green;
  @include focusable(var(--clr-neutral-50));
  &--square {
    height: 48px;
    width: 48px;
  }
  &--overlay {
    z-index: var(--z-always-visible);
  }
  &--default {
    color: var(--clr-fg);
    background-color: var(--clr-bg-main);
  }
  &--primary {
    color: var(--clr-transparent);
    background-color: var(--clr-accent);
    @include focusable(var(--clr-bg));
  }
  &--secondary {
    color: var(--clr-accent);
    background-color: var(--clr-bg);
  }
  &--transparent {
    background-color: transparent;
    @include focusable(var(--clr-accent));
  }
}
