@import "../../vars";
@import "../../utils";

.filters-menu {
  z-index: var(--z-always-visible);
}

.button {
  display: grid;
  place-content: center;
  cursor: pointer;
  color: blue;
  border: none;
  background-color: green;
  @include focusable(var(--clr-bgMain));
  &--square {
    height: 48px;
    width: 48px;
  }
  &--overlay {
    z-index: var(--z-always-visible);
  }
  &--default {
    color: var(--clr-fgText);
    background-color: var(--clr-bgMain);
  }
  &--primary {
    color: var(--clr-bg);
    background-color: $accent;
    @include focusable(var(--clr-bg));
  }
  &--secondary {
    color: $accent;
    background-color: var(--clr-bg);
  }
  &--transparent {
    background-color: transparent;
    @include focusable($accent);
  }
}
