@import "../../vars";
@import "../../utils";

.filters {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
  padding-top: 48px;
  gap: 2rem;
  background-color: var(--clr-bgMain);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  &-hidden {
    opacity: 0
  }
  &-visible {
    opacity: 1;
  }

  .navmenu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2px;

    @include focusable($accent, 'outside');

    &--overflow {
      overflow-y: scroll;
    }
    
    .nav {
      color: currentColor;
      padding: .75rem 1rem;
      cursor: pointer;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      &:hover {
        text-decoration: underline;
      }
      .badge {
        margin-right: .5em;
      }
      &--selected {
        --marker-size: 8px;
        position: relative;
        font-weight: 600;
        // background-color: var(--clr-bgSecondary);
        // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        // color: white;
        &:before {
          content: '';
          position: absolute;
          background-color: $accent;
          border-radius: 4px;
          top: calc(50% - (var(--marker-size) / 2));
          left: 0;
          width: var(--marker-size);
          height: var(--marker-size);
        }
      }
    }
  }

  .filter {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    .label {
      font-weight: lighter;
      font-size: smaller;
      color: var(--clr-fgText);
      display: flex;
      gap: .5rem;
      flex-direction: row;
      align-items: center;  
    }
  }
}