.filters {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  background-color: var(--clr-bgMain);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  .filter {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    .label {
      font-weight: 300;
      color: var(--clr-fgText);
      display: flex;
      flex-direction: row;
      align-items: center;  
    }

    .navmenu {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 2px;
    
      .nav {
        color: currentColor;
        padding: .75rem 1rem;
        cursor: pointer;
        border-radius: 8px;
        &:hover {
          text-decoration: underline;
        }
        &.selected {
          background-color: var(--clr-bgSecondary);
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
          // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          // color: white;
        }
      }
    }
  }
}