@import "../../vars";
@import "../../utils";

.filters {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: var(--space-4);
  // background-color: var(--clr-bg-main);
  // box-shadow: var(--shadow-xl);

  &-hidden {
    opacity: 0
  }
  &-visible {
    opacity: 1;
  }

  .navmenu {
    list-style-type: none;
    display: flex;
    flex-direction: column;

    @include focusable(var(--clr-accent), 'outside');

    &--overflow {
      overflow-y: scroll;
    }
    
    .nav {
      color: currentColor;
      padding: var(--space-2) var(--space-4);
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      &:hover {
        text-decoration: underline;
      }
      .badge {
        margin-right: var(--space-2);
      }
      &--selected {
        --marker-size: 8px;
        position: relative;
        font-weight: var(--font-weight-bold);
       &:before {
          content: '';
          position: absolute;
          // background-color: var(--clr-accent);
          border-radius: var(--size-2);
          top: calc(50% - (var(--marker-size) / 2));
          left: 0;
          width: var(--marker-size);
          height: var(--marker-size);
        }
      }
    }
  }

  .filter {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    .label {
      font-weight: lighter;
      font-size: smaller;
      // color: var(--clr-fg);
      display: flex;
      gap: var(--space-2);
      flex-direction: row;
      align-items: center;  
    }
  }
}
