@import "../utils.styl"
@import "../vars.styl"

.code
  flex: 1;
  color: var(--clr-fgCode);
  font-size: $fontSizeCode;
  font-family: $fontMono;
  font-weight: 600;
  line-height: 1.35;
  padding: $borderRadius .75em $borderRadius 1em;
  background-color: unset;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  white-space: break-spaces;
  span
    min-height: 1em;
