@import "../utils.styl"
@import "../vars.styl"

$titleFontSize = 3.25rem;
$titleResponsiveFontSize = 3.8vw;
$titleMinFontSize = 32px;
$titleMaxFontSize = 52px;
// 100 * $titleMaxFontSize / $titleResponsiveFontSize
$titleFontMaxOutWidth = 1368px;
// 100 * $titleMinFontSize / $titleResponsiveFontSize
$titleFontMinOutWidth = 842px;

lightTheme()
  --clr-codeBg: $codeBgMainLight;
  --clr-codeKeyFg: $blueDark;
  --clr-codeValueFg: $green;
  --clr-menuInactiveFg: gray;
  --clr-menuActiveFg: black;
  --clr-menuHoverFg: black;
  --clr-bgColor: $bgColorLandingLight;
  --clr-bgBorderColor: $bgBorderLight;
  --clr-fgColor: black;
  --clr-title: #101010;
  --clr-text: $textLight;
  --clr-boxShadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --clr-card-bg: white;
  --clr-code-bg: #e8eff1;
  --clr-code-fg: black;
  --clr-code-key: var(--clr-codeKeyFg);
  --clr-code-value: var(--clr-codeValueFg);
  --clr-card-title-fg: #aab5b9;
  --clr-bgaa-400: #bccfd5;
  --clr-card-badge-bg: $bgColorLandingLight; 

darkTheme()
  --clr-codeBg: $codeBgMainDark;
  --clr-codeKeyFg: $red;
  --clr-codeValueFg: $yellow;
  --clr-menuInactiveFg: lightgray;
  --clr-menuActiveFg: white;
  --clr-menuHoverFg: white;
  --clr-bgColor: $bgColorLandingDark;
  --clr-borderBgColor: $bgBorderDark;
  --clr-fgColor: white;
  --clr-title: $titleDark;
  --clr-text: $textDark;
  --clr-boxShadow: rgb(0 10 23 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  --clr-fg: #dbdbdb;
  --clr-bgaa-400: #213237;
  --clr-code-key: var(--clr-codeKeyFg);
  --clr-code-value: var(--clr-codeValueFg);
  --clr-card-bg: #151e21;
  --clr-card-fg: #ffffff;
  --clr-code-bg: #101517;
  --clr-code-fg: #ffffff;
  --clr-card-badge-bg: #1d2e32;
  --clr-card-title-fg: #585858;

.landing-container
  flexColumn();
  position: relative;
  min-height: 100vh;
  align-items: center;
  background-color: var(--clr-bgColor);
  border-bottom: 1px solid var(--clr-bgBorderColor);
  color: var(--clr-fgColor);
  .window
    background-color: var(--clr-codeBg);
  &.light
    lightTheme();
  &.dark
    darkTheme();
  .landing
    flex: 1;
    display: grid;
    row-gap: 2em;
    padding: 2em;
    grid-template-areas: "snippets snippets" "example code";
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;

    @media screen and (max-width: $breakDescCTA)
      place-content: center;
      grid-template-areas: "snippets snippets" "example example" "code code";
      grid-template-rows: repeat(3, min-content);
    @media screen and (max-width: $breakSnippetsColumn)
      grid-template-areas: "example example" "snippets snippets" "code code";
      grid-template-rows: repeat(3, min-content);
      padding: 1em;

    .snippets
      grid-area: snippets;
      flexRow();
      gap: 1.5em;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: $breakSnippetsWrap)
        flex-wrap: wrap;
        justify-content: center;
        .window-responsive
          font-size: 1rem;
      @media screen and (max-width: $breakSnippetsColumn)
        flexColumn();
    .description
      grid-area: example;
      flex: 1;
      flexColumn(1rem);
      justify-content: start;
      justify-self: center;
      @media screen and (max-width: $breakDescCTA)
        justify-content: center;
      h1
        width: 20ch;
        font-weight: 500;
        font-family: $fontTitle;
        color: var(--clr-title);
        margin-bottom: .5rem;
        display: flex;

        font-size: $titleResponsiveFontSize;
        @media screen and (max-width: $breakDescCTA)
          align-self: start;
        @media screen and (min-width: $titleFontMaxOutWidth)
          font-size: $titleMaxFontSize
        @media screen and (max-width: $titleFontMinOutWidth)
          font-size: $titleMinFontSize;
          width: 100%;
      p
        width: 50ch;
        font-size: 1.25rem
        font-weight: 400;
        opacity: 0.8;
        line-height: 1.5;
        color: var(--clr-text);
        display: flex;

        @media screen and (max-width: $breakDescCTA)
          align-self: start;
        @media screen and (max-width: $breakSnippetsWrap)
          width: 100%; 
      .cluster
        box-shadow: var(--clr-boxShadow);
    .code-install
      grid-area: code;
      align-self: start;
      justify-self: end;
      align-items: flex-start;
      flexColumn();
      gap: 2rem;
      font-size: 1.2em;
      // margin-top: 1rem;
      @media screen and (max-width: $breakDescCTA)
        flexRow();
        gap: 4rem;
        align-items: center;
        justify-self: center;
        .links
          padding-top: 1.75rem;
      @media screen and (max-width: $breakSnippetsColumn)
        gap: 2rem;
        flex-direction: column;
      .links
        flexColumn(.5em);

    