@import "../utils.styl"
@import "../vars.styl"

lightTheme()
  --clr-bgCodeLanding: $bgCodeLandingLight;
  --clr-bgLanding: $bgLandingLight;
  --clr-fgLanding: black;
  --clr-boxShadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

darkTheme()
  --clr-bgCodeLanding: $bgCodeLandingDark;
  --clr-bgLanding: $bgLandingDark;
  --clr-fgLanding: white;
  --clr-boxShadow: rgb(0 10 23 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;

.landing-container
  flexColumn();
  position: relative;
  min-height: 100vh;
  align-items: center;
  background-color: var(--clr-bgLanding);
  border-top: 1px solid var(--clr-border);
  border-bottom: 1px solid var(--clr-border);
  color: var(--clr-fgLanding);
  &.light
    lightTheme();
    .window.light
      --clr-bgCode: var(--clr-bgCodeLanding);
  &.dark
    darkTheme();
    .window.dark
      --clr-bgCode: var(--clr-bgCodeLanding);
  .landing
    flex: 1;
    display: grid;
    row-gap: 2em;
    padding: 2em;
    grid-template-areas: "snippets snippets" "example code";
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;

    @media screen and (max-width: $breakDescCTA)
      place-content: center;
      grid-template-areas: "snippets snippets" "example example" "code code";
      grid-template-rows: repeat(3, min-content);
    @media screen and (max-width: $breakSnippetsColumn)
      grid-template-areas: "example example" "snippets snippets" "code code";
      grid-template-rows: repeat(3, min-content);
      padding: 1em;

    .snippets
      grid-area: snippets;
      flexRow();
      gap: 1.5em;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: $breakSnippetsWrap)
        flex-wrap: wrap;
        justify-content: center;
        .window-responsive
          font-size: 1rem;
      @media screen and (max-width: $breakSnippetsColumn)
        flexColumn();
    .description
      grid-area: example;
      flex: 1;
      flexColumn(1rem);
      justify-content: start;
      justify-self: center;
      @media screen and (max-width: $breakDescCTA)
        justify-content: center;
      h1
        width: 20ch;
        font-weight: 500;
        font-family: $fontTitle;
        color: var(--clr-fgTitle);
        margin-bottom: .5rem;
        display: flex;

        font-size: $titleResponsiveFontSize;
        @media screen and (max-width: $breakDescCTA)
          align-self: start;
        @media screen and (min-width: $titleFontMaxOutWidth)
          font-size: $titleMaxFontSize
        @media screen and (max-width: $titleFontMinOutWidth)
          font-size: $titleMinFontSize;
          width: 100%;
      p
        width: 50ch;
        font-size: 1.25rem
        font-weight: 400;
        opacity: 0.8;
        line-height: 1.5;
        color: var(--clr-fgText);
        display: flex;

        @media screen and (max-width: $breakDescCTA)
          align-self: start;
        @media screen and (max-width: $breakSnippetsWrap)
          width: 100%; 
      .cluster
        box-shadow: var(--clr-boxShadow);
    .code-install
      grid-area: code;
      align-self: start;
      justify-self: end;
      align-items: flex-start;
      flexColumn();
      gap: 2rem;
      font-size: 1.2em;
      // margin-top: 1rem;
      @media screen and (max-width: $breakDescCTA)
        flexRow();
        gap: 4rem;
        align-items: center;
        justify-self: center;
        .links
          padding-top: 1.75rem;
      @media screen and (max-width: $breakSnippetsColumn)
        gap: 2rem;
        flex-direction: column;
      .links
        flexColumn(.5em);

    