@import "../utils.styl"
@import "../vars.styl"

$menuInactiveFg = var(--clr-menuInactiveFg);
$menuActiveFg = var(--clr-menuActiveFg);
$menuHoverFg = var(--clr-menuHoverFg);
$bgColor = var(--clr-bgColor);
$bgBorderColor = var(--clr-bgBorderColor);
$fgColor = var(--clr-fgColor);
$boxShadow = var(--clr-boxShadow);
$codeKeyFg = var(--clr-codeKeyFg);
$codeValueFg = var(--clr-codeValueFg);

$titleFontSize = 3.25rem;
$titleResponsiveFontSize = 3.8vw;
$titleMinFontSize = 32px;
$titleMaxFontSize = 52px;
// 100 * $titleMaxFontSize / $titleResponsiveFontSize
$titleFontMaxOutWidth = 1368px;
// 100 * $titleMinFontSize / $titleResponsiveFontSize
$titleFontMinOutWidth = 842px;

lightTheme()
  --clr-codeKeyFg: $blueDark;
  --clr-codeValueFg: $green;
  --clr-menuInactiveFg: gray;
  --clr-menuActiveFg: black;
  --clr-menuHoverFg: black;
  --clr-bgColor: #f2f5f6;
  --clr-bgBorderColor: #e0e4e5;
  --clr-fgColor: black;
  --clr-boxShadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --clr-card-bg: white;
  --clr-code-bg: #e8eff1;
  --clr-code-fg: black;
  --clr-code-key: $codeKeyFg;
  --clr-code-value: $codeValueFg;
  --clr-card-title-fg: #aab5b9;
  --clr-bgaa-400: #bccfd5;
  --clr-card-badge-bg: $bgColor; 

darkTheme()
  --clr-codeKeyFg: $red;
  --clr-codeValueFg: $yellow;
  --clr-menuInactiveFg: lightgray;
  --clr-menuActiveFg: white;
  --clr-menuHoverFg: white;
  --clr-bgColor: #1d2e32;
  --clr-borderBgColor: #1d2e32;
  --clr-fgColor: white;
  --clr-boxShadow: rgb(0 10 23 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  --clr-fg: #dbdbdb;
  --clr-bgaa-400: #213237;
  --clr-code-key: $codeKeyFg;
  --clr-code-value: $codeValueFg;
  --clr-card-bg: #151e21;
  --clr-card-fg: #ffffff;
  --clr-code-bg: #101517;
  --clr-code-fg: #ffffff;
  --clr-card-badge-bg: #1d2e32;
  --clr-card-title-fg: #585858;

.demo-container
  flexColumn();
  position: relative;
  min-height: 100vh;
  align-items: center;
  // justify-content: center;
  background-color: $bgColor;
  border-bottom: 1px solid $bgBorderColor;
  color: $fgColor;
  // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .strip
    position: absolute;
    inset: 0;
    height: 4px;
    background-color: $accent;
  &.light
    lightTheme();
  &.dark
    darkTheme();
  .topbar
    flexRow();
    width: 100vw;
    max-width: 970px;
    align-items: start;
    justify-content: space-between;
    padding-right: 1em;
    @media screen and (max-width: $breakHeaderMenu)
      flex-direction: column;
      &-menu
        padding-top: .5em;
    &-header
      grid-area: header;
      color: white;
      display: flex;
      justify-content: flex-end;
      justify-self: start;
    &-menu
      flexRow();
      position: sticky;
      grid-area: types;
      gap: 1.5rem;
      justify-self: end;
      align-self: center;
      // justify-content: end;
      // align-items: center;
      // font-size: 1rem;
      font-weight: 400;
      &-item
        color: $menuInactiveFg;
        cursor pointer;
        padding: 1rem 0;
        &-active
          color: $menuActiveFg;
        &:hover
          color: $menuHoverFg;
      .indicator
        position: absolute;
        top: calc(50% + 1rem);
        left: 0;
        height: 2px;
        width: 58px;
        background-color: $accent;
  .demo
    // align-items: center;
    // font-size: 14px;
    flex: 1;
    display: grid;
    // column-gap: 4rem;
    row-gap: 2em;
    padding: 2em;
    grid-template-areas: "snippets snippets" "example code";
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;

    @media screen and (max-width: $breakDescCTA)
      place-content: center;
      grid-template-areas: "snippets snippets" "example example" "code code";
      // grid-template-rows: min-content 1fr 1fr 1fr;
      grid-template-rows: repeat(3, min-content);
    @media screen and (max-width: $breakSnippetsColumn)
      grid-template-areas: "example example" "snippets snippets" "code code";
      grid-template-rows: repeat(3, min-content);
      padding: 1em;

    .description
      grid-area: desc;
      font-size: 1.5rem;
      font-weight: 300;
    .snippets
      grid-area: snippets;
      flexRow();
      gap: 1.5em;
      // margin-top: 2rem;
      // padding: 2rem;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: $breakSnippetsWrap)
        flex-wrap: wrap;
        justify-content: center;
        .window-responsive
          font-size: 1rem;
      @media screen and (max-width: $breakSnippetsColumn)
        flexColumn();
    .similarity
      grid-area: example;
      flex: 1;
      flexColumn(1rem);
      justify-content: start;
      justify-self: center;
      @media screen and (max-width: $breakDescCTA)
        justify-content: center;
        // padding: 0 2rem;
      // @media screen and (max-width: $breakSnippetsWrap)
      //   padding: unset;
      // max-width: 800px;
      // padding: 2rem;
      // position: relative;
      // top: -0rem;
      // margin: 0;
      h1
        width: 20ch;
        font-weight: 500;
        font-family: fontTitle;
        // color: #29474f;
        color: #101010;
        margin-bottom: .5rem;
        display: flex;

        font-size: $titleResponsiveFontSize;
        @media screen and (max-width: $breakDescCTA)
          align-self: start;
        @media screen and (min-width: $titleFontMaxOutWidth)
          font-size: $titleMaxFontSize
        @media screen and (max-width: $titleFontMinOutWidth)
          font-size: $titleMinFontSize;
          width: 100%;
      p
        width: 50ch;
        font-size: 1.25rem
        font-weight: 400;
        opacity: 0.8;
        line-height: 1.5;
        color: #313131;
        display: flex;

        @media screen and (max-width: $breakDescCTA)
          align-self: start;
        @media screen and (max-width: $breakSnippetsWrap)
          width: 100%; 
      .cluster
        box-shadow: $boxShadow;
      // background-color: yellow;
    .code-install
      grid-area: code;
      align-self: start;
      justify-self: end;
      align-items: flex-start;
      flexColumn();
      gap: 2rem;
      font-size: 1.2em;
      // margin-top: 1rem;
      @media screen and (max-width: $breakDescCTA)
        flexRow();
        gap: 4rem;
        align-items: center;
        justify-self: center;
        .links
          padding-top: 1.75rem;
      @media screen and (max-width: $breakSnippetsColumn)
        gap: 2rem;
        flex-direction: column;
      .links
        flexColumn(.5em);
        .link
          flexRow(1em);
          align-items: center;
          justify-content: start;
          border: none;
          outline: none;
          border-radius: $borderRadius;
          font-size: 1em;
          padding: 0.75em 1.5em
          font-family: fontRegular;
          font-weight: 400;
          cursor: pointer;
          transition: all 150ms ease-in;
          svg
            width: 1em;
            height: 1em;
          &-primary
            background-color: $accent;
            color: white;
            &:hover
              background-color: lighten($accent, 5);
          &-secondary
            background-color: transparent;
            color: #313131;
            border: 1px solid lighten(#313131, 40);
            &:hover
              // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
              background-color: $codeBgLight;


    