@import "../utils.styl"
@import "../vars.styl"

.line
  flexRow();
  &>span:nth-child(1)
    color: var(--clr-codeCommentsFg);
    padding: 0 1em 0 .5em;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;