@import "../utils.styl"
@import "../vars.styl"

.tabs
  flexRow(4px);
  padding-left: $borderRadius;
  padding-bottom: 8px;
  // font-size: .66rem;
  // border-bottom: 1px solid $headerBg;
  // margin-top: 4px;
  .tab
    // background-color: $headerBg;
    color: darken(white, 60);
    padding: .5rem .5rem;
    border-bottom-left-radius: "calc(%s / 2)" % $borderRadius;
    border-bottom-right-radius: "calc(%s / 2)" % $borderRadius;
    cursor: pointer;
    &:hover
      color: black;
    &-active
      color: black;
      text-decoration: underline;