name: "Build Docs"
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Generate docs
        run: |
          npm add -g pnpm
          pnpm i
          pnpm nx build @ts-retype/doc --verbose
          mkdir -p ./docs-static/static
          cp -R ./apps/doc/dist/* ./docs-static/static/
          ls -ahl ./docs-static/static
        env:
          CI: true
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/dev' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs-static/static
