.incdec {
  display: flex;
  flex-direction: row;

  input {
    background: none;
    border: none;
    color: var(--clr-fg);
    outline: none;
    padding: 0rem 1rem;
    font-size: 1.2rem;
    width: 6ch;
    text-align: center;
  }

  button {
    background-color: var(--clr-btn-primary-bg);
    color: var(--clr-btn-primary-fg);
    border-radius: 100vw;
    border: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 24px;
      height: 24px;
    }

    &:hover {
      background-color: var(--clr-btn-primary-bg-hover);
      border: none;
    }
  }
}
